=link_to 'javascript:history.back()', class: 'btn btn-info fa-lg'  do
  = fa_icon "arrow-circle-left"
\
= link_to edit_reason_path(@reason), class: 'btn btn-info fa-lg' do
  = fa_icon "edit"


%h1.center Редактирование причины отклонения
%hr
= render 'form'
